.rules-page {
  width: 100%;
  font-family: var(--baseFont);
  background-color: var(--floralWhite);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 80px;
  padding-left: 20px;

  & h3 {
    width: 100%;
    margin: 0;
  }

  & p {
    width: 100%;
  }
}
