.thread-content {
  font-family: var(--baseFont);

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 0;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 0;
  }
}
