.game-page {
  width: 100%;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;

  &__game-screen {
    box-sizing: border-box;
    width: 50%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    border: 15px solid #F59565;
    background-color: #BBADA0;
    margin-right: 8%;

    position: relative;

    &--active {
      background: none;
    }
  }

  &__btn-fullscreen {
    margin-left: 5px;
  }
}
