.block-error500 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--floralWhite);
  font-family: var(--baseFont);

  &__title {
    font-size: 42px;
    font-weight: bold;
    color: var(--bittersweet);
  }

  &__description {
    font-size: 15px;
  }
}
