{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "rules": {
    "import/prefer-default-export": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-var-requires": 0,
    "semi": "error",
    "arrow-body-style": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "plugins": [
    "editorconfig"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "plugins": ["eslint-plugin-react"],
      "rules": {
        "react/prop-types": 0,
        "react/require-default-props": 0
      }
    }
  ]
}
