.profile-helper{
  margin-right: 5rem;
  display: flex;
  align-items: center;

  a {
    color: var(--sandDune);
    text-decoration: unset;
  }
 
  &__name {
    font-family: var(--baseFont);
    font-style: normal;
    font-weight: 500;
  }

  &__name:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}