.forum-nav-item {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  min-width: 100px;
  padding: 19px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  &_active {
    border-bottom: 7px solid var(--beige);
    padding-bottom: 12px;
  }
}
