html,
body,
#root {
  margin: 0;
  height: 100%;
}


:root {
  --sidebar-width: 20rem;
  --sidebar-width-collapsed: 4rem;
  --header-heigth: 4rem;
  --gray: #999999;
  --brightGray: #EAEAEA;
  --bittersweet: #F57C5F;
  --springWood: #EEE4DA;
}
