.leader {
  display: flex;
  font-family: var(--baseFont);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 0;
  color: var(--sandDune);

  &__info {
    flex-grow: 1;
    text-align: center;
  }

  &__snake-length {
    width: 30%;
    text-align: center;
  }

  &:nth-child(2) {
    color: var(--bittersweet);
  }

  &:nth-child(3) {
    color: var(--softOrange);
  }

  &:nth-child(4) {
    color: var(--middleYellow);
  }
}