.leader {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 0;
  color: #756A61;

  &__info {
    flex-grow: 1;
    text-align: center;
  }

  &__snake-length {
    width: 30%;
    text-align: center;
  }

  &:nth-child(2) {
    color: #F57C5F;
  }

  &:nth-child(3) {
    color: #F59565;
  }

  &:nth-child(4) {
    color: #F0B17B;
  }
}