@import "../styles/fonts.pcss";

html,
body,
#root {
  margin: 0;
  height: 100%;
}

:root {
  --sidebar-width: 20rem;
  --sidebar-width-collapsed: 4rem;
  --header-heigth: 4rem;
  --gray: #999999;
  --black: #000000;
  --beige: #CDC1B3;
  --brightGray: #EAEAEA;
  --bittersweet: #F57C5F;
  --softOrange: #F59565;
  --middleYellow: #F0B17B;
  --springWood: #EEE4DA;
  --floralWhite: #FBF8F1;
  --sandDune: #7C746B;
  --baseFont: "Roboto", sans-serif;
}
