.logo-wrapper {
  width: var(--sidebar-width);
  height: auto;
  resize: horizontal;
  position: relative;
  cursor: pointer;

  &_collapsed {
    width: var(--sidebar-width-collapsed);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.5rem 0;
  }
}