.forum {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  padding: 90px 150px 50px 150px;
  box-sizing: border-box;
  background-color: var(--floralWhite);

  &__inner-page-container {
    overflow: auto;
  }
}
