.header {
  position: absolute;
  display: flex;
  width: 100%;
  height: var(--header-heigth);
  border-bottom: 1px solid var(--gray);

  &__description {
    font-family: var(--baseFont);
    font-style: normal;
    font-weight: 500;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bittersweet);
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 0.7rem;
  }
}
