.header {
  position: absolute;
  display: flex;
  width: 100%;
  height: var(--header-heigth);
  border-bottom: 1px solid #7C7268;

  &__description {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    color: #F57C5F;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 0.7rem;
  }
}
