.thread-answer {
  margin-left: 25px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__user {
    grid-area: user;
  }

  &__date {
    grid-area: date;
  }

  &__message {
    margin: 0;
    padding: 20px 0 15px 50px;
    grid-area: message;
    border-bottom: 1px solid var(--beige);
  }
}
