.thread-answer {
  display: grid;
  grid-template-areas: "user user date"
    ". message message";
  grid-template-columns: 40px auto auto;
  row-gap: 15px;
  border-bottom: 1px solid #CDC1B3;
  padding-bottom: 30px;

  &__user {
    grid-area: user;
  }

  &__date {
    grid-area: date;
  }

  &__message {
    margin: 0;
    padding: 0;
    grid-area: message;
  }
}
