.profileAvatar {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  background: url("../../../assets/noProfileImage.png") center center/cover;
  border: 1px solid var(--sandDune);

  &__small {
    border-radius: 50%;
    border: 1px solid var(--sandDune);
    width: 2.5rem;
    height: 2.5rem;
  }
}