.answers-count {
  display: flex;
  gap: 13px;
  align-items: center;

  font-family: "Roboto";
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;

  &__icon-wrapper {

    svg {
      fill: #72685D
    }
  }
}

