.likes {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  gap: 10px;
  color: #F57C5F;
}

.likes__button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;

  svg {
    fill: #F57C5F;
  }
}

.likes__icon {
  display: flex;
}
